*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    position: relative;
}
header{
    width: 100%;
    background: url('/photo-1616645500344-209060c84970.jpg');
  background-repeat: no-repeat;
 background-position: right center;
background-size: 100%;

}

.header-container{
    color: white;
    font-size: 10px;
    padding: 20px;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
   
    font-size: 12px;
}
main{
    max-width: 500px;
    margin: 0 auto;
   
}
.item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(187, 186, 186);
   padding: 10px 5px;
}
.product{
    font-size: 70px;
 margin-right: 25px;
}

p{
    margin: 5px 0;
    font-size: 16px;
}

i{
    border: 1px solid black;
    padding: 10px;
    border-radius: 100%;
    font-size: 21px;
    cursor: pointer;
}
.order{
 
  text-align: center;
}

.order button{
    width: 100%;
    padding: 15px;
    font-weight: bold;
    color: white;
    border: none;
    background-color:#16DB99;
    border-radius: 3px;
    cursor: pointer;
}

#payment{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top: 1px solid black;
    margin-bottom: 40px;
    margin-top: 25px;
    padding-top: 10px;
    padding: 5px;
}

.hidden{
    display: none;
}

.items{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 5px;
   padding: 5px;
}

.container-order{
    display: flex;
    justify-content: space-between;
    
  
}
.delete{
    color: rgb(194, 194, 194);
    cursor: pointer;
}
.space{
    padding: 0px 5px;
}

.form{
    position: absolute;
    margin: 0 auto;
    top: 250px;
    left: 0;
    right: 0;
    width: 400px;
    text-align: center;
    background-color: white;
    padding: 20px;
    box-shadow: 1px 1px 100px #696969;
}

input{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
}

form button{
    width: 100%;
    padding: 15px;
    font-weight: bold;
    color: white;
    border: none;
    background-color:#16DB99;
    border-radius: 3px;
    margin-top: 30px;
     cursor: pointer;
}

.tab{
    position: absolute;
    right: 10px;
    top: 5px;
    cursor: pointer;
}
.tab:hover{
    border-bottom: 2px solid black;
}

.contain{
    display: flex;
    justify-content: space-between;
}
.discount{
    color: red;
  
}

.hide{
    display: none;
}

.review{
    text-align: center;
    margin-top: 25px;
    background: #ECFDF5;
    color: #065F46;
font-weight: bold;
    padding: 15px;
}


.rating {
    
    width: 250px;
    background: transparent;
    gap: .3em;
    padding: 5px;

 margin: 20px auto;
    border-radius: 20px;
    box-shadow: 0 0 2px #b3acac;
   
 }
 
 .rating__result {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-10px) translateX(-5px);
    z-index: -9;
    font: 3em Arial, Helvetica, sans-serif;
    color: #ebebeb8e;
    pointer-events: none;
 }
 
 .rating__star {
    font-size: 1.3em;
    cursor: pointer;
    color: #dabd18b2;
    transition: filter linear .3s;
 }
 
 .rating__star:hover {
    filter: drop-shadow(1px 1px 4px gold);
 }
 .comment{
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    font-size: 30px;
    color: #065F46;
 }